[user]
	name = joaoxyz
	email = jpreis808@gmail.com
[init]
	defaultBranch = main
[core]
	autocrlf = input
	pager = less -Fr
	editor = nvim
	excludesfile = $HOME/.config/git/ignore
	ignorecase = false
[color]
	ui = auto
[push]
	autoSetupRemote = true
