[user]
	name = joaoxyz
	email = jpreis808@gmail.com
[init]
	defaultBranch = main
[core]
	autocrlf = input
	pager = less -XFR
	editor = code --wait
	excludesfile = /home/joao/.config/git/ignore
[color]
	ui = auto
